body { margin: 0; padding: 0; font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #000; text-align: left; letter-spacing: 0.02em; line-height: 1.1em; background: #fff; }
img { border: 0; }
.accessStyle, .supplementaryContent, #globalNav, #checkoutProcess, .optionHeader, .infoAfterHeader, .accessLink, #footerLinks, #banner, .paginationBlock, #breadcrumbs, .lister, .joinDiscussion, #titleAddComments, #add-comment, #comment-form, #backTo, .addToBasket, #addToBasket, #actionWishList, #horizontalFiltersWrapper, #toggleDropShopButtons, #shoppingAssistant, #dropShopCarousel_images, #fancybox-wrap { display: none; }
a { font-weight: bold; color: #000; text-decoration: underline; }
hr { display: none; }
abbr { text-decoration: none; border: 0; }
fieldset { border: 0; padding: 0; }
/* write link destination after link: */
a:after { content: " (" attr(href) ") "; font-size: 0.8em; }
/* if the links are relative, then add the domain: */
/* ######## commented to prevent accidental wrong domain being written! ###### */
/*
a[href^="/"]:after {
content: " (http://www.eazytiger.net" attr(href) ") ";
}
*/

.noPrintLink:after, #fancybox-right:after, #fancybox-left after { content: "" !important; }
h1, h2, h3 { font-size: 1.4em; line-height: 1.3em; clear: both; }
.fn { clear: none; }
.fn a { text-decoration: none; }
table { width: 100%; border: 1px solid #000; }
th { width: 33%; }
.productListing .offer-sell { list-style-type: none; }
.productListing .item { width: 32%; float: left; }
.productListing .item .photo { position: relative; }
.productListing .item .new, #currentProductDetails .item .new { position: absolute; top: 0; right: 0; }
#currentProductDetails .item .photo { position: relative; float: left; margin: 0 20px 20px 0; }
#thumbImages { list-style-type: none; margin: 0 0 20px 0; }
#thumbImages li { width: 24%; float: left; }
ul.actionLinks { list-style-type: none; margin: 0; padding: 0; }
ul.actionLinks li#actionEmail, ul.actionLinks li.tagLink { display: none !important; }
