/**********************************
Description...:MOBILE THEME
Last Changed..:21-04-2015
Notes #1......:
/******************/
@media screen and (max-device-width: 1160px), screen and (max-width: 1160px) {
	body {-webkit-text-size-adjust:none;-ms-text-size-adjust:100%;}
	video {width:100%;}
	/*img {max-width:100%;}*/
	.container {width:auto;padding:0 50px;}
	
	
}

@media screen and (max-device-width: 960px), screen and (max-width: 960px) {
	/*style fixes for this width*/
}

@media screen and (max-device-width: 700px), screen and (max-width: 700px) {
	/*style fixes for this width*/
}

@media screen and (max-device-width: 620px), screen and (max-width: 620px) {
	/*SMARTPHONE*/
	.container {padding:0 20px;}
	
	ul#nav {display:none;}
	a#pull {display:block;}
}

@media screen and (max-device-width: 500px), screen and (max-width: 500px) {
	/*style fixes for this width*/
}

@media screen and (max-device-width: 380px), screen and (max-width: 380px) {
  /*MOBILE*/
}